
.bg-brown {
    background-color: #724e2c!important;
}

.text-brown {
    color: #724e2c!important;
}

body {
    color: #724e2c!important;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    outline: #724e2c!important;
}

#order-form-body ul li{
    list-style: none;
}

@media screen and (min-width:576px) {
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/4);
    }
}
.card{
    margin: 0 0.5em;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
    background-color: #ccc;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #333;
}